h1{
    color:black;
}

/* .logo{
    background-color: blue;
    height: 100px;
    width: 100px; 
}*/

.facebook{
    color: white;
    background-color: blue;
    height: 100px;
    width: 100px;
}
